:root{--djjfu:#64ceff;
--colega: rgb(192, 123, 248);
}
h3{
    color:rgb(18, 17, 19);

}

*{
  margin: 0;
}

body{
    background-color:var(--djjfu);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}
#foto{
    width: 20%;
}



span{
color: var(--colega);
}

.contagem-regressiva{
  text-align: center;
  margin: 30px 0;
}

.objetivos{
  padding: 05px;
  color: rgb(238, 0, 0);
  border: rgb(0, 0, 205);
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ativo{
  border: 0;
  border-bottom: 3px solid blueviolet;
}