:root{--djjfu:#82c4e2;
}
h3{
    color:rgb(54, 8, 179);
    
    <head>
    .anta-regular {
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: normal;
        <head>
      }
      

}
body{
    background-color:var(--djjfu);
    

}
#foto{
    width: 20%;
}